html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

h1,
p {
    margin: 0;
}

.header {
    background-color: rgb(51, 51, 51);
}
.header__title {
    font-size: 2.1rem;
    color: #fff;
    padding: 0.2em 0;
    text-align: center;
    font-family: "Merienda", cursive;
}

.main {
    width: 90%;
    max-width: 800px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__model {
    position: relative;
}

.main__modelBox {
    width: 45%;
    margin-top: 3em;
}

.main__modelBox--separate {
    display: flex;
    height: 150px;
    border: 1px #eeeeee solid;
    border-radius: 5px;
    margin-top: 11em;
}

.main__modelviewer {
    width: 100%;
    height: 100%;
    --progress-bar-height: 0;
}

.main__modelviewer--half {
    width: 50%;
    --ar-button-display: none;
}

.main__textBox {
    width: 50%;
    padding: 1.5em;
}

.main__textBoxText {
    font-size: 1.5rem;
}

.main__textBoxBtn {
    display: block;
    margin: 1.2em auto 0;
    padding: 4px 14px;
    background-color: inherit;
    border: 1px #eee solid;
    border-radius: 20px;
}

.main__textBoxBtnText {
    vertical-align: middle;
    color: #222222;
}

.main__arBtn {
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: inherit;
    padding: 10px 12px;
    border: 1px rgba(204, 204, 204, 0.5) solid;
    border-radius: 50%;
    box-shadow: 0 0 8px 0px #ccc;
}

.main__arIcon1 {
    width: 30px;
}

.main__arIcon2 {
    width: 18px;
    vertical-align: middle;
    margin-right: 3px;
}

.main__arIcon3 {
    width: 75px;
    vertical-align: middle;
    margin-right: 5px;
}

.main__modelImg {
    width: 100%;
}

.main__btn {
    background-color: inherit;
    padding: 0 0 0 20px;
    border: 0;
    width: 100%;
    text-align: left;
}

.main__watchText {
    vertical-align: middle;
    font-size: 2.2rem;
    color: #333;
}

.main__annotationBox {
    margin-top: 1em;
}

.main__annotation {
    color: #666;
    font-size: 1.2rem;
}

.footer {
    background-color: #f5f5f7;
    margin-top: 1em;
}

.footer__text {
    font-size: 1.2rem;
    color: #86868b;
    text-align: center;
    padding: 0.4em 0;
}

@media screen and (max-width: 480px) {
    .main__modelBox {
        width: 100%;
    }

    .main__modelviewer {
        height: 150px;
    }

    .main__modelBox--separate {
        margin-top: 3em;
    }

    .footer__text {
        font-size: 0.5rem;
    }
}
